@{
    Layout = "~/Views/shared/_detail.cshtml";
}
<div class="left03">
    <div class="img03">
        <img src="images/detail01.png">
    </div>
    <div class="detail-info flex flex-between reponsive-absolute">
        <div class="flex flex-ver-center">
            <div class="detail-img-sm">
                <img src="images/detail-sm01.png">
            </div>
            <div>
                <h4>Greg Monsma</h4>
                <a class="local" href="#"><span></span>Traverse City , USA</a>
                <a class="tags" href="#"><span></span>Technology</a>
            </div>
        </div>
        <div class="detail-share">
            <p class="color5">Created September 24, 2016</p>
            <ul class="flex flex-end">
                <li><a class="color5 current04" href="#">Share<span class="share"></span></a></li>
                <li><a class="color5" href="#">110 shares</a></li>
                <li><a class="color5" href="#">1200 views</a></li>
            </ul>
        </div>
    </div>
    <div class="action-panels">
        <button class="btn btn-close"></button>
        <div class="tab-page">
            <div id="container">
                <input id="tab-1" type="radio" name="tab-group" checked="checked">
                <label for="tab-1"><p>Social</p></label>
                <input id="tab-2" type="radio" name="tab-group">
                <label for="tab-2"><p>Embed</p></label>
                <input id="tab-3" type="radio" name="tab-group">
                <label for="tab-3"><p>Email</p></label>
                <input id="tab-4" type="radio" name="tab-group">
                <label for="tab-4"><p>FB Mesenger</p></label>
                <div id="content">
                    <div id="content-1">
                        <ul class="solical flex">
                            <li><a href="#"><img src="images/solical-fb.png"></a></li>
                            <li><a href="#"><img src="images/solical-tw.png"></a></li>
                            <li><a href="#"><img src="images/solical-pinter.png"></a></li>
                            <li><a href="#"><img src="images/solical-g.png"></a></li>
                            <li><a href="#"><img src="images/solical-man.png"></a></li>
                            <li><a href="#"><img src="images/solical-in.png"></a></li>
                            <li><a href="#"><img src="images/solical-instagram.png"></a></li>
                            <li><a href="#"><img src="images/solical-rss.png"></a></li>
                        </ul>
                        <input class="solical-input" type="text" value="abc.com">
                    </div>
                    <div id="content-2">
                        <p>2</p>
                    </div>
                    <div id="content-3">
                        <p>3</p>
                    </div>
                    <div id="content-4">
                        <p>4</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="comment-top drop-show">
            <div class="comment-content-box">
                <h1>Terminal Couple To Reunite</h1>
                <p class="comment-content">We are of the belief that 80% of crowdfunding campaigns that do not reach their crowdfunding goals is due to several reasons.  We have spent the last 3 years researching and fixing these flaws and so far our beta testing on almost 300 crowdfunding campaigns is proving that we have found the secret sauce to helping people reach their funding goals.We are of the belief that 80% of crowdfunding campaigns that do not reach their crowdfunding goals is due to several reasons.  We have spent the last 3 years researching and fixing these flaws and so far our beta testing on almost 300 crowdfunding campaigns is proving that we have found the secret sauce to helping people reach their funding goals.</p>
            </div>
            <a href="#show-more" class="loadmore01">Load More</a>
        </div>
        <div class="comment-detail">
            <button class="btn btn-com-update">Update</button>
            <a href="#" class="comment-time color5">8 hours ago</a>
            <p class="comment-content">We are of the belief that 80% of crowdfunding campaigns that do not reach their crowdfunding goals is due to several reasons.  We have spent the last 3 years researching and fixing these flaws and so far our beta testing on almost 300 crowdfunding campaigns is proving that we have found the secret sauce to helping people reach their funding goals.</p>
        </div>
        <div class="comment-detail">
            <a href="#" class="comment-time color5">09/09/2016 20:15:45</a>
            <p class="comment-content">We are of the belief that 80% of crowdfunding campaigns that do not reach their crowdfunding goals is due to several reasons.  We have spent the last 3 years researching and fixing these flaws and so far our beta testing on almost 300 crowdfunding campaigns is proving that we have found the secret sauce to helping people reach their funding goals.</p>
        </div>
        <div class="comment-detail">
            <a href="#" class="comment-time color5">09/09/2016 20:15:45</a>
            <p class="comment-content">We are of the belief that 80% of crowdfunding campaigns that do not reach their crowdfunding goals is due to several reasons.  We have spent the last 3 years researching and fixing these flaws and so far our beta testing on almost 300 crowdfunding campaigns is proving that we have found the secret sauce to helping people reach their funding goals.</p>
        </div>
    </div>
    <center>
        <button class="loadmore02"><a href="#">Load More</a></button>
        <a href="#" class="more-view">Current view 10 to 30 records</a>
    </center>
    <div class="comment-fb-box">

    </div>
</div>
<div class="right03">
    <div class="detail-raised reponsive-absolute">
        <p class="money">$35,899<span>Raised of $35,000.00 Goal</span></p>
        <div class="loading-bar">
            <div class="loading-pjbar" style="width:60%"></div>
        </div>
        <p class="text02">Raised by 44 people in 2 days</p>
        <button class="btn btn-donate-now"><a href="#">DONATE NOW</a></button>
    </div>
    <div class="other-help">
        <h2>Other way to help</h2>
        <p class="text02">If you do not donate please help us. Share on Your Social</p>
        <button class="btn btn-share-fb"><a href="#">Share on Facebook</a></button>
    </div>
    <div class="donate-history">
        <h2>Donations History</h2>
        <div class="donate-box">
            <div class="flex flex-between flex-ver-center">
                <h3>Doan Sang</h3>
                <h2>$10.00</h2>
            </div>
            <div class="flex flex-between flex-ver-center">
                <a href="#" class="text02"><span class="icon-share-fb"></span>Share on Facebook</a>
                <a href="#" class="comment-time color5">8 hours ago</a>
            </div>
        </div>
        <div class="donate-box">
            <div class="flex flex-between flex-ver-center">
                <h3>Doan Sang</h3>
                <h2>$10.00</h2>
            </div>
            <div class="flex flex-between flex-ver-center">
                <a href="#" class="text02"><span class="icon-share-fb"></span>Share on Facebook</a>
                <a href="#" class="comment-time color5">8 hours ago</a>
            </div>
        </div>
        <div>
            <div class="donate-box">
                <div class="flex flex-between flex-ver-center">
                    <h3>Doan Sang</h3>
                    <h2>$10.00</h2>
                </div>
                <div class="flex flex-between flex-ver-center">
                    <a href="#" class="text02"><span class="icon-share-fb"></span>Share on Facebook</a>
                    <a href="#" class="comment-time color5">8 hours ago</a>
                </div>
            </div>
            <div class="donate-box">
                <div class="flex flex-between flex-ver-center">
                    <h3>Doan Sang</h3>
                    <h2>$10.00</h2>
                </div>
                <div class="flex flex-between flex-ver-center">
                    <a href="#" class="text02"><span class="icon-share-fb"></span>Share on Facebook</a>
                    <a href="#" class="comment-time color5">8 hours ago</a>
                </div>
            </div>
            <div class="donate-box">
                <div class="flex flex-between flex-ver-center">
                    <h3>Doan Sang</h3>
                    <h2>$10.00</h2>
                </div>
                <div class="flex flex-between flex-ver-center">
                    <a href="#" class="text02"><span class="icon-share-fb"></span>Share on Facebook</a>
                    <a href="#" class="comment-time color5">8 hours ago</a>
                </div>
            </div>
            <div class="donate-box">
                <div class="flex flex-between flex-ver-center">
                    <h3>Doan Sang</h3>
                    <h2>$10.00</h2>
                </div>
                <div class="flex flex-between flex-ver-center">
                    <a href="#" class="text02"><span class="icon-share-fb"></span>Share on Facebook</a>
                    <a href="#" class="comment-time color5">8 hours ago</a>
                </div>
            </div>
        </div>
        <center>
            <button class="btn loadmore03">Load More</button>
            <a href="#" class="more-view">Current view 10 to 30 records</a>
        </center>
    </div>
</div>

