/*	Define Footer Websute
	Author: pennyauctionsoftware.com
*/
@charset "utf-8";
.footer_col{width:175px; float:left; padding-right:25px; color:#a8a8a8; font-weight:bold; font-size:13px; margin-top:30px; text-align:left}
.footer_col ul{ margin:0; padding:0; margin-top:25px;}
.footer_col ul li{ list-style:none; margin-bottom:8px;}
.footer_col ul li a, .copyright a{ color:#a8a8a8; text-decoration:none; font-weight:normal; font-size:11px;}
.footer_col ul li a:hover, .copyright a:hover{ color:#fff;}
.textcopy{padding:0; margin:0}