/*	Define color and format 
	Author: pennyauctionsoftware.com
*/

@charset "utf-8";
hr{height:1px; opacity:0.3}
.clear{clear:both}
.show{display:block!important}
.hide{display:none!important}
img{border:0; border:none}

/* background ----------------------------------- */
.bgdot{background: url(/content/images/dot.jpg) center center repeat-x;}
.bg_blue{background:#49b8da!important;}
.bg_grey{background:#f5f5f5;}
.bg_grey1{background:#000;}
.bg_grey2{background:#efefef;}
.bg_grey_dark{background: rgb(0,110,46); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,110,46,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,110,46,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */}
.bgcam{background:#ee7843}
.bg_white{background:#fff}
.bg_green_1{background:#14bcaa}
.bg_blue_1{background:#49b8da}
.bg_green_2{background:#85bb23}
.bg_footerpage{background: #000;}
.bg_header_box{background: rgb(0,135,45); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,135,45,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,135,45,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00872d', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */}

.bgsearch{background: #198341;}

/* background -----------------------------------End */

/* Color text ----------------------------------- */
.strike{text-decoration:line-through}
.italic{ font-style:italic;}
.bold{ font-weight:bold}
.underline{ text-decoration:underline}
.cursor{ cursor:pointer}
.header1 {font-family:Arial, Helvetica, sans-serif; font-size:28px;}
.header2 {font-family:Arial, Helvetica, sans-serif; font-size:20px; text-transform: uppercase}
.header3 {font-family:Arial, Helvetica, sans-serif; font-size:16px;}
.header4 {font-size:12px; font-weight:bold; margin-bottom:20px;}
.clo_green{color:#85bb23;}
.clo_blue{color:#49b8da;}
.clo_grey_dark{color:#757575;}
.clo_white{color:#000;}
.clo_red{color:red;}
.clo_require{color:red}
.clo_header{color:#494949}
.clo_timeleft{color:Red}
/* Color text -----------------------------------End */

/* Color Link ----------------------------------- */
a.orange{color:#FF6600; text-decoration:none;}
a.orange:hover{color:#FF3300; }

/* Color Link -----------------------------------End */

/* Space config --------------------------------- */
.pad-top-10{padding-top:10px;}
.pad-top-15{padding-top:15px;}
.pad-top-20{padding-top:20px;}
.pad-top-25{padding-top:25px;}
.pad-top-30{padding-top:30px;}

.pad-left-10{padding-left:10px;}
.pad-left-15{padding-left:15px;}
.pad-left-20{padding-left:20px;}
.pad-left-25{padding-left:25px;}
.pad-left-30{padding-left:30px;}

.pad-right-10{padding-right:10px;}
.pad-right-15{padding-right:15px;}
.pad-right-20{padding-right:20px;}
.pad-right-25{padding-right:25px;}
.pad-right-30{padding-right:30px;}

.pad-bottom-10{padding-bottom:10px;}
.pad-bottom-15{padding-bottom:15px;}
.pad-bottom-20{padding-bottom:20px;}
.pad-bottom-25{padding-bottom:25px;}
.pad-bottom-30{padding-bottom:30px;}

.mar-top-5{margin-top:5px;}
.mar-top-10{margin-top:10px;}
.mar-top-15{margin-top:15px;}
.mar-top-20{margin-top:20px;}
.mar-top-25{margin-top:25px;}
.mar-top-30{margin-top:30px;}

.mar-left-10{margin-left:10px;}
.mar-left-15{margin-left:15px;}
.mar-left-20{margin-left:20px;}
.mar-left-25{margin-left:25px;}
.mar-left-30{margin-left:30px;}

.mar-right-10{margin-right:10px;}
.mar-right-15{margin-right:15px;}
.mar-right-20{margin-right:20px;}
.mar-right-25{margin-right:25px;}
.mar-right-30{margin-right:30px;}

.mar-bottom-10{margin-bottom:10px;}
.mar-bottom-15{margin-bottom:15px;}
.mar-bottom-20{margin-bottom:20px;}
.mar-bottom-25{margin-bottom:25px;}
.mar-bottom-30{margin-bottom:30px;}

/* Space config --------------------------------- End */

input {background-color: #FFFFFF;
       border: 1px solid #D3D3D3; 
       border-radius: 4px 4px 4px 4px; 
       color: #4C4C4C; 
       font-size: 13px;
       line-height: 28px;
       padding: 0 7px;
       height:28px;}
select {background-color: #FFFFFF;
       border: 1px solid #D3D3D3; 
       border-radius: 4px 4px 4px 4px; 
       color: #4C4C4C; 
       font-size: 13px;
       line-height: 28px;
       padding: 0 7px;
       height:28px;}
input[type="image"] {padding: 0; border:0; height:auto;}
input[type="checkbox"] {padding: 0; border:0; height:auto;}

input.buttons {
    background-repeat: repeat-x;
    border: 1px solid;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px 0 #C0C0C0;
    font-weight: 600 !important;
    letter-spacing: -0.02em;
    outline: 0 none;
    padding: 0 15px;
}
input.buttons:hover {
    cursor: pointer;
    text-decoration: none;
}
input.buttons {
    background-color: #A5A5A5;
}
input.buttons.small {
    background-position: left top;
    border-radius: 4px 4px 4px 4px;
    font-size: 13px;
    height: 28px;
    line-height: normal;
}
input.buttons.small:hover {
    background-position: left -28px;
}
input.buttons.standard {
    background-position: left -56px;
    font-size: 16px;
    height: 34px;
    line-height: normal;
}
input.buttons.standard:hover {
    background-position: left -90px;
    font-size: 16px;
    height: 34px;
    line-height: normal;
}
input.buttons.medium {
    background-position: left -124px;
    font-size: 14px;
    height: 44px;
    line-height: normal;
padding:0!important;
}
input.buttons.medium:hover {
    background-position: left -168px;
    font-size: 14px;
    height: 44px;
    line-height: normal;
padding:0!important;
}
input.buttons.large {
    background-position: left -212px;
    font-size: 20px;
    height: 54px;
    line-height: normal;
}
input.buttons.large:hover {
    background-position: left -266px;
    font-size: 20px;
    height: 54px;
    line-height: normal;
}
input.buttons.orange {
    background: rgb(1,89,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(1,89,158,1) 0%, rgba(57,127,187,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,89,158,1)), color-stop(100%,rgba(57,127,187,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(1,89,158,1) 0%,rgba(57,127,187,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(1,89,158,1) 0%,rgba(57,127,187,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(1,89,158,1) 0%,rgba(57,127,187,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(1,89,158,1) 0%,rgba(57,127,187,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01599e', endColorstr='#397fbb',GradientType=0 ); /* IE6-9 */

    border-color: #035a9e;
    color: #fff;
    text-shadow: 0 1px 2px #693100;
}
input.buttons.orange:hover {
   background: rgb(1,89,158); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(1,89,158,1) 0%, rgba(100,147,183,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,89,158,1)), color-stop(100%,rgba(100,147,183,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(1,89,158,1) 0%,rgba(100,147,183,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(1,89,158,1) 0%,rgba(100,147,183,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(1,89,158,1) 0%,rgba(100,147,183,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(1,89,158,1) 0%,rgba(100,147,183,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01599e', endColorstr='#6493b7',GradientType=0 ); /* IE6-9 */

}
input.buttons.blue {
    background: rgb(0,110,46); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,110,46,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,110,46,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
	border-color: #006e2e;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #2A4400;
}
input.buttons.blue:hover {
    background: rgb(0,135,45); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,135,45,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,135,45,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00872d', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */

}
input.buttons.green {
    background: rgb(0,110,46); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,110,46,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,110,46,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */
	border-color: #006e2e;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #2A4400;
}
input.buttons.green:hover {
    background: rgb(0,135,45); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,135,45,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,135,45,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,135,45,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00872d', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */

}
input.buttons.grey {
    background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    border-color: #9E9E9E;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #434343;
}
input.buttons.grey:hover {
    background: rgb(87,91,96); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(87,91,96,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87,91,96,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(87,91,96,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(87,91,96,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(87,91,96,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(87,91,96,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575b60', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
input.buttons.white {
    background-color: #E2E2E2;
    background-image: url("/content/images/themes/white-btn.jpg");
    border-color: #C7C7C7;
    color: #007FDD;
    text-shadow: 0 1px 1px #B8B8B8;
}
input.buttons.white:hover {
    background-color: #FFFFFF;
}


.extendsecond{color:#FF0000; background-image: url("/content/images/themes/Circle_Grey.png"); font-weight:bold}
.subbidno{color:#FFF; background-image: url("/content/images/themes/Circle_Orange.png"); font-weight:bold}
.autobid{color:#FFF; background-image: url("/content/images/themes/bid_agent_1.png"); font-weight:bold}
.buynow{color:#FFF; background-image: url("/content/images/themes/buynow_1.png"); font-weight:bold}
.chair{color:#FFF; background-image: url("/content/images/themes/chair.png"); font-weight:bold}

ul.menu_right{ list-style:none; padding:0; margin:0}
ul.menu_right li{ border-bottom:dotted 1px #BFBFBF}
ul.menu_right li a{ color:#000; text-decoration:none; display:block; margin:5px 0;}
ul.menu_right li a:hover{ color:#222;}


.notifications_icon{background: url("/content/images/themes/notification_icon.png")center top no-repeat;}
.biddinghistory_icon{background: url("/content/images/themes/history_icon.png")center top no-repeat;}
.won_icon{background: url("/content/images/themes/won_icon.png")center top no-repeat;}
.avatar_icon{background: url("/content/images/themes/avatar_icon.png")center top no-repeat;}
.auto_icon{background: url("/content/images/themes/auto_icon.png")center top no-repeat;}
.watch_icon{background: url("/content/images/themes/watchlist_icon.png")center top no-repeat;}
