/*	Define Header Websute
	Author: pennyauctionsoftware.com
*/

@charset "utf-8";
.top1 {
    /*-----border-top: 5px solid #49b8da;*/
    height: 30px;
    line-height: 30px;
    margin: 0;
    color: #686868;
    font-size: 11px;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: 0 0 2px 0 #b8b8b8;
    background: rgb(226,226,226); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}

.top1right {
    float: right;
    /*width: 220px;*/
    line-height: 25px;
    text-align: right;
    color: #222;
}

    .top1right a {
        margin-left: 7px;
        margin-right: 7px;
        color: #222;
        text-decoration: none;
    }

        .top1right a:hover {
            color: #000;
        }

.logo {
    width: 330px;
    float: left;
}

.right-top {
    float: right;
    margin: 35px 0px 5px 0px;
    text-align: left;
    color: #fff;
    width: 360px;
    position:relative;
}

    .right-top .row_top {
        width: 100%;
        height: 30px;
        clear: both;
        line-height: 30px;
    }

        .right-top .row_top .col_top {
            width: 137px;
            height: 30px;
            float: left;
            margin-right: 3px;
            margin-bottom: 3px;
        }

        .right-top .row_top .col_top1 {
            width: 52px;
            height: 30px;
            float: left;
            text-align: right;
        }

    .right-top .topusename {
        background: url(/content/images/themes/login-sprite.png) repeat-y scroll 0 2px #fff;
        color: #666;
        padding-left: 38px;
        width: 90px;
        height:28px;
    }

    .right-top .toppass {
        background: url(/content/images/themes/login-sprite.png) repeat-y scroll 0 -22px #fff;
        color: #666;
        padding-left: 38px;
        width: 90px;
        height:28px;
    }

    .right-top .labelremember {
        color: #000;
        cursor: pointer;
        float: left;
        font-size: 13px;
        font-weight: normal;
        margin: 2px 0 0 3px;
        padding: 0;
    }

        .right-top .labelremember input[type=checkbox] {
            height: 12px;
        }

    .right-top a {
        color: #000;
        text-decoration: none;
        margin: 3px 0 0 1px;
        display: block;
    }

    .right-top:hover .topusename {
        background: url(/content/images/themes/login-sprite.png) repeat-y scroll 0 -47px #fff;
        color: #000;
    }

    .right-top:hover .toppass {
        background: url(/content/images/themes/login-sprite.png) repeat-y scroll 0 -71px #fff;
        color: #000;
    }

    .right-top:hover .labelremember {
        color: #000;
    }

    .right-top:hover a {
        color: #000;
    }

        .right-top:hover a:hover {
            color: #000;
        }
.right-top .top_facelogin{position:absolute; top:-30px;}
.bg_grey_dark select{padding:0; border:0; height:28px;}
.google-translate{    display: block;    float: right;    height: 35px;    left: 0;    overflow: hidden;    top: 0;    width: 175px;}

.right-top2 {
    float: right;
    margin: 25px 0px 5px 0px;
    text-align: center;    
    width: 320px;
}

    .right-top2 .row_top {
        width: 100%;
        
        clear: both;
        line-height: 22px;
        background:#ffffff;
        border: 1px solid #fefefe;
        border-radius: 4px;
    }

        .right-top2 .row_top .col_top {
            width: 137px;
            height: 30px;
            float: left;
            margin-right: 3px;
        }
#nav {
    width: 1000px; /* 1000 */
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 0;
    left: 0;
	z-index:55555;
}

    #nav > a {
        display: none;
    }

    #nav li {
        position: relative;
    }
    
     
    

        #nav li a {
            color: #ffffff;
            display: block;
        }

            #nav li a:active {
                background-color: #45484D !important;
            }

    #nav span:after {
        width: 0;
        height: 0;
        border: 0.313em solid transparent; /* 5 */
        border-bottom: none;
        border-top-color: #efa585;
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em; /* 5 */
    }

    /* first level */

    #nav > ul {
        height: 60px; /* 60 */
        background: rgb(49,121,179); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(49,121,179,1) 0%, rgba(26,65,94,1) 50%, rgba(21,38,73,1) 51%, rgba(42,82,114,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(49,121,179,1)), color-stop(50%,rgba(26,65,94,1)), color-stop(51%,rgba(21,38,73,1)), color-stop(100%,rgba(42,82,114,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(49,121,179,1) 0%,rgba(26,65,94,1) 50%,rgba(21,38,73,1) 51%,rgba(42,82,114,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(49,121,179,1) 0%,rgba(26,65,94,1) 50%,rgba(21,38,73,1) 51%,rgba(42,82,114,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(49,121,179,1) 0%,rgba(26,65,94,1) 50%,rgba(21,38,73,1) 51%,rgba(42,82,114,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(49,121,179,1) 0%,rgba(26,65,94,1) 50%,rgba(21,38,73,1) 51%,rgba(42,82,114,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3179b3', endColorstr='#2a5272',GradientType=0 ); /* IE6-9 */

        padding: 0;
        margin: 0;
        border-radius: 5px 5px 0 0;
    }

        #nav > ul > li {
            width: 14%;
            height: 100%;
            float: left;
            list-style: none;
        }
        
        #nav > ul > li:first-child {
        margin-left: 10px;
    }
    
    	#nav > ul > li > a {
                height: 100%;
                font-size: 16px; /* 24 */
                line-height: 60px; /* 60 (24) */
                text-align: center;
                font-weight: bold;
            }

            #nav > ul > li:not( :last-child ) > a {
                border-right: 1px solid #45484D;
            }

            #nav > ul > li:hover > a,
            #nav > ul:not( :hover ) > li.active > a {
               background: rgb(0,110,46); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,110,46,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,110,46,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */

            }


    /* second level */

    #nav li ul {
        background: rgb(0,110,46); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,110,46,1) 0%, rgba(0,110,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,110,46,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,110,46,1) 0%,rgba(0,110,46,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */

        display: none;
        position: absolute;
        top: 100%;
        margin: 0;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
    }

    #nav li:hover ul {
        display: block;
        left: 0;
        right: 0;
        z-index: 900;
    }

    #nav li:not( :first-child ):hover ul {
        left: -1px;
    }

    #nav li ul a {
        font-size: 12px;
        border-top: 1px solid #000000;
        padding: 10px;
    }

    #nav li ul li a:hover,
    #nav li ul:not( :hover ) li.active a {
        background-color: #000000;
    }
    #nav > ul > li > ul > li:first-child {margin-left: 0}


/*@media only screen and ( max-width: 62.5em ) /* 1000 */
@media only screen and ( max-width: 1024px )
{
    #nav {
        width: 100%;
        position: relative;
        z-index: 8147483649;
        margin: 0;
    }
    
    #nav > ul > li {
            width: 14%;
        }
     #nav > ul > li:first-child {
        margin-left: 0px;
    }
        
    #nav > ul > li:nth-child(2) {
            width: 200px!important;
            background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

        }
    
    #nav > ul > li > a {
                font-size: 12px; /* 24 */
            }
}

/*@media only screen and ( max-width: 40em ) /* 640 */
@media only screen and ( max-width: 768px )
{

    #nav {
        position: relative;
        z-index: 8147483649;
        top: auto;
        left: auto;
    }

        #nav > a {
            width: 3.125em; /* 50 */
            height: 3.125em; /* 50 */
            text-align: left;
            text-indent: -9999px;
            background-color: #000;
            position: relative;
        }

            #nav > a:before,
            #nav > a:after {
                position: absolute;
                border: 2px solid #fff;
                top: 35%;
                left: 25%;
                right: 25%;
                content: '';
            }

            #nav > a:after {
                top: 60%;
            }

        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type {
            display: block;
        }


        /* first level */

        #nav > ul {
            height: auto;
            display: none;
            position: absolute;
            left: 0;
            right: 0;
        }

        #nav:target > ul {
            display: block;
        }

        #nav > ul > li {
            width: 100%;
            float: none;
        }
        
        #nav > ul > li:nth-child(2) {
            width: 478px!important;
            background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

        }
        
        #nav > li> ul > li:first-child {margin-left: 0}

            #nav > ul > li > a {
                height: auto;
                line-height:60px;
                text-align: left;
                padding: 0 0.833em; /* 20 (24) */
            }

            #nav > ul > li:not( :last-child ) > a {
                border-right: none;
                border-bottom: 1px solid #cc470d;
            }


        /* second level */

        #nav li ul {
            position: static;
            padding: 1.25em; /* 20 */
            padding-top: 0;
        }
}

@media only screen and ( max-width: 480px ){
	#nav > ul > li:nth-child(2) {
            width: 318px!important;
            background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

        }
}

/* Banner ------------------------ */
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0 0 30px 0;
    border-radius: 0 0 5px 5px;
}

    .rslides li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
        border-radius:  0 0 5px 5px;
    }

        .rslides li:first-child {
            position: relative;
            display: block;
            float: left;
        }

    .rslides img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
        border-radius:  0 0 5px 5px;
    }


.rslides {
    box-shadow: 0 0 3px #999;
    margin: 0 0 30px 0;
}
.rslides {
    list-style: none outside none;
    margin: 0 auto 0px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    margin-bottom:30px;
}

.rslides2 {
    box-shadow: none;
    list-style: none outside none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.rslides_tabs {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 5px #000000 inset;
    font-size: 18px;
    list-style: none outside none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

    .rslides_tabs li {
        display: inline;
        float: none;
        margin-right: 1px;
    }

    .rslides_tabs a {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: inline;
        height: auto;
        line-height: 20px;
        padding: 9px 20px;
        width: auto;
    }

        .rslides_tabs a:hover {
            border: 0 none;
        }

    .rslides_tabs li:first-child {
        margin-left: 0;
    }

    .rslides_tabs .rslides_here a {
        background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
        color: #FFFFFF;
        font-weight: bold;
    }


.rslides_nav{
	position:absolute;
	top:50%;
	z-index:3;
	margin-top:-2em;
	width:3.75em;
	height:3.75em;
	background-color:rgba(0,0,0,0.5);
	text-indent:-9999px
}

.rslides_nav.next{
	right:3.5%;
	outline:0
}

.rslides_nav.next:after{
	position:absolute;
	margin-top:-0.75em;
	border-width:.75em 0 .75em .75em;
	border-style:solid;
	border-color:transparent;
	border-left-color:#fff;
	content:"";
	top:50%;
	right:50%;
	margin-right:-0.375em
}

.rslides_nav.prev{
	left:3.5%;
	outline:0
}

.rslides_nav.prev:after{
	position:absolute;
	margin-top:-0.75em;
	border-width:.75em .75em .75em 0;
	border-style:solid;
	border-color:transparent;
	border-right-color:#fff;
	content:"";
	top:50%;
	left:50%;
	margin-left:-0.375em
}


/* Banner ------------------ End --*/

/* Search Box ----------------- */
.boxsearch {
    box-shadow: 0 1px 6px 0 #B8B8B8;
    float: left;
    height: 55px;
    margin: 0;
    position: relative;
    width: 100%;
}

.tfsearch {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 4px 0 0 4px !important;
    color: #333;
    cursor: text;
    height: 35px;
    left: 12px;
    line-height: 22px;
    padding-left: 10px;
    position: absolute;
    top: 10px;
    width: 910px;
}

.btseach {
    background-image: url("/content/images/themes/search-bar-icon.png") !important;
    background-position: center top !important;
    border-bottom: 0 none;
    border-radius: 0 4px 4px 0 !important;
    border-right: 0 none;
    border-top: 0 none;
    cursor: pointer;
    height: 35px !important;
    position: absolute;
    right: 13px;
    text-indent: -9999px;
    top: 10px;
    width: 55px;
    z-index: 10;
}

    .btseach:hover {
        background-image: url("/content/images/themes/search-bar-icon.png") !important;
        background-position: center bottom !important;
    }
