
    <nav class="menu-left nav">
        <h3>Our Categories</h3>
        <ul data-type="navbar">
            <li><a href="#"><span class="list-style"></span>Business</a></li>
            <li><a href="#"><span class="list-style"></span>Charity</a></li>
            <li><a href="#"><span class="list-style"></span>Community</a></li>
            <li><a href="#"><span class="list-style"></span>Competitions</a></li>
            <li><a class="current01" href="#"><span class="list-style"></span>Creative</a></li>
            <li><a href="#"><span class="list-style"></span>Events</a></li>
            <li><a href="#"><span class="list-style"></span>Faith</a></li>
            <li><a href="#"><span class="list-style"></span>Family</a></li>
            <li><a href="#"><span class="list-style"></span>National News</a></li>
            <li><a href="#"><span class="list-style"></span>Newlyweds</a></li>
            <li><a href="#"><span class="list-style"></span>Other</a></li>
            <li><a href="#"><span class="list-style"></span>Travel</a></li>
            <li><a href="#"><span class="list-style"></span>Wishes</a></li>
        </ul>
    </nav>

