@{
    Layout = "~/Views/shared/_root.cshtml";
}

<section class="wrap-content">
    <article class="content">
        <section class="middle flex flex-between">
           
                @RenderBody()
           
        </section>
    </article>
</section>


