<footer>
    <section class="bg_grey_dark">

        <div class="width1000px clo_white" style="height: 45px; line-height: 45px;" align="right">
            <div style="float: left; text-align: left; width: 360px;">
                <select name="ctl00$ctl00$Footer$ddlThems" id="Footer_ddlThems" onchange="setTheme(this.value);">
                    <option value="Default">Design View Option</option>
                    <option value="Blue-wide-style">Blue-wide-style</option>
                    <option selected="selected" value="Bule-Green-Grey">Bule-Green-Grey</option>
                    <option value="Cars-style">Cars-style</option>
                    <option value="Flower-card-style">Flower-card-style</option>
                    <option value="GiftCard-style">GiftCard-style</option>
                    <option value="Green-orange-style">Green-orange-style</option>
                    <option value="Gun-Accessories-style">Gun-Accessories-style</option>
                    <option value="Gun-style">Gun-style</option>
                    <option value="Hunting-style">Hunting-style</option>
                    <option value="K-Style-Brown">K-Style-Brown</option>
                    <option value="K-Style-Gradient">K-Style-Gradient</option>
                    <option value="K-Style-Green">K-Style-Green</option>
                    <option value="K-Style-Light-Blue">K-Style-Light-Blue</option>
                    <option value="K-Style-Purple">K-Style-Purple</option>
                    <option value="K-Style-Sky">K-Style-Sky</option>
                    <option value="New-style-doing">New-style-doing</option>
                    <option value="Pink-blue-style">Pink-blue-style</option>
                    <option value="Red-wide-style">Red-wide-style</option>
                    <option value="Yellow-blue-style">Yellow-blue-style</option>

                </select>
                <div class="google-translate">
                    <div id="google_translate_element" style="float: right; width: 175px;"></div>
                    <script>
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({
                                pageLanguage: 'en',
                                multilanguagePage: true,
                                gaTrack: true,
                            }, 'google_translate_element');
                        }
                    </script>
                    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"> </script>

                </div>
                <div class="clear"></div>
            </div>
            Follow Us

            <a href="/60/howitworks.htm" target="_blank">
                <img src="https://demo.pennyauctionsoftware.com/images/1382563044_facebook.png" align="absmiddle">
            </a>

            <a href="/60/howitworks.htm" target="_blank">
                <img src="https://demo.pennyauctionsoftware.com/images/1382563172_twitter.png" align="absmiddle">
            </a>

            <a href="/60/howitworks.htm" target="_blank">
                <img src="https://demo.pennyauctionsoftware.com/images/1382563260_google-plus.png" align="absmiddle">
            </a>

            <a href="/60/howitworks.htm" target="_blank">
                <img src="https://demo.pennyauctionsoftware.com/images/youtube_circle_color-512.png" align="absmiddle">
            </a>

            <a href="/60/howitworks.htm" target="_blank">
                <img src="https://demo.pennyauctionsoftware.com/images/1382563272_pinterest.png" align="absmiddle">
            </a>

        </div>
    </section>

    <section class="bg_footerpage">
        <div class="width1000px">

            <div class="footer_col">
                Introduction
                <hr>

                <ul>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/3/about.htm'
                           title='About Us'>About Us</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/contactus.htm'
                           title='Contact Us'>Contact Us</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/4/about.htm'
                           title='Privacy Policy'>Privacy Policy</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/5/about.htm'
                           title='Terms & Conditions'>Terms & Conditions</a>
                    </li>

                </ul>

            </div>

            <div class="footer_col">
                News
                <hr>

                <ul>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/55/news.htm'
                           title='5 Things You Must Know'>5 Things You Must Know</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/31/news.htm'
                           title='What is a Reserve Price?'>What is a Reserve Price?</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/50/news.htm'
                           title='New & Improved Autobid Module'>New & Improved Autobid Module</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/33/news.htm'
                           title='Press Releases'>Press Releases</a>
                    </li>

                </ul>

            </div>

            <div class="footer_col">
                How it Works
                <hr>

                <ul>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/48/howitworks.htm'
                           title='Golden Time'>Golden Time</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/41/howitworks.htm'
                           title='Bid(s) Deducted'>Bid(s) Deducted</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/42/howitworks.htm'
                           title='Extended Time'>Extended Time</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/43/howitworks.htm'
                           title='Auto Bid'>Auto Bid</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/46/howitworks.htm'
                           title='Give Away'>Give Away</a>
                    </li>

                </ul>

            </div>

            <div class="footer_col">
                Support
                <hr>

                <ul>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/27/support.htm'
                           title='Help'>Help</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/36/support.htm'
                           title='Oline Forum'>Oline Forum</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/37/support.htm'
                           title='OnlineTech Support'>OnlineTech Support</a>
                    </li>

                    <li>
                        <a href='https://demo.pennyauctionsoftware.com/51/support.htm'
                           title='Live Chat Support'>Live Chat Support</a>
                    </li>

                </ul>

            </div>



            <div class="footer_col payment_footer">
                <img src="https://demo.pennyauctionsoftware.com/images/themes/payment-footer.png" width="175" />
                <br />
                <img src="https://demo.pennyauctionsoftware.com/images/themes/logobbb.png" width="79" height="40" />
                <a href="http://chat.digitalmarketingsolutions.com/Default.aspx" target="_blank">
                    <img src="https://demo.pennyauctionsoftware.com/images/themes/live-chat-on.gif" />
                </a>
            </div>

        </div>
        <div class="clear"></div>
        <div class="width1000px copyright pad-bottom-10">
            <hr>
            <span style="float: left">
                <a href="http://pennyauctionsoftware.com" target="blank" title="Penny Auction Software | Entertainment shopping">Copyright &copy; 2003 - 2017 Penny Auction Software</a> All Rights Reserved.
            </span>
            <p class="textcopy" align="right">
                <a href="/sitemap.htm" title="SITEMAP">SITEMAP </a>|
                <a href="/policy.htm" title="">Privacy Policy </a>|
                <a href="/legal.html" title="Terms & Conditions">Terms & Conditions</a>
            </p>
        </div>
        <div class="clear"></div>
    </section>
</footer>