<header class="bg_cloud">
    
    <section>
        <div class="width1000px">
            <div class="logo">
                <a href="https://demo.pennyauctionsoftware.com/" title="">
                    <img alt="" src="https://demo.pennyauctionsoftware.com/images/logo.png" align="left" vspace="15" border="0">
                </a>
            </div>
        </div>
        <div class="clear"></div>
    </section>
    
    <section>
        <div class="width1000px">
            <nav id="nav" role="navigation">
                <a href="#nav" title="Show navigation">Show navigation</a>
                <a href="#" title="Hide navigation">Hide navigation</a>
                <ul>
                    <li><a href="https://demo.pennyauctionsoftware.com/">Home</a></li>
                    <li>
                        <a>Auction Types</a>
                        <ul>
                            <li><a href="https://demo.pennyauctionsoftware.com/index.htm?view=all">Live Auctions</a></li>

                            <li><a href="https://demo.pennyauctionsoftware.com/seatauctions.htm">Reserve Auctions</a></li>

                            <li><a href="https://demo.pennyauctionsoftware.com/closed.htm">Ended Auctions</a></li>
                            <li><a href="https://demo.pennyauctionsoftware.com/upcoming.htm">Upcoming Auctions</a></li>
                        </ul>
                    </li>
                    <li>

                        <a href='https://demo.pennyauctionsoftware.com/'>Categories</a>
                        <ul>

                            <li><a href="https://demo.pennyauctionsoftware.com/c41/index.htm">Cameras and Camcorder (14)</a></li>

                            <li><a href="https://demo.pennyauctionsoftware.com/c52/index.htm">Electronics (6)</a></li>

                            <li><a href="https://demo.pennyauctionsoftware.com/c48/index.htm">Cell Phones (6)</a></li>

                        </ul>
                    </li>

                    <li><a href="https://demo.pennyauctionsoftware.com/resellingstore.htm">Resell Store</a></li>

                    <li><a href="https://demo.pennyauctionsoftware.com/sale.htm">Sale</a></li>

                    <li><a href="https://demo.pennyauctionsoftware.com/purchasebids.htm">Buy Bids</a></li>

                    <li><a href='https://demo.pennyauctionsoftware.com/howitworks.htm'>How It Works</a></li>
                </ul>
            </nav>
        </div>
        <div class="clear"></div>
    </section>
</header>