<header class="top-header">
    <div class="box01 flex flex-between flex-ver-center">
        <div class="logo flex flex-between flex-ver-center">
            <a href="#" title=""><img src="@Url.Content("~/content/images/logo.png")"></a>
            <div class="search01">
                <form class="top-search">
                    <input class="_input" type="text" name="s" value="" placeholder="title,city,country">
                    <button class="btn btn-search01" type="submit"> <span class="fa fa-search"></span> </button>
                </form>
            </div>
        </div>
        <div class="top-menu">
            <nav class="nav">
                <ul class="menu flex">
                    <li><a href="#">how it works</a></li>
                    <li><a href="#">faqs</a></li>
                    <li><a href="#">help</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>